header{
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.mb_sony-img{
  height: 30px;
  background-color: black;
  text-align: end;
}

.mb_sony-img img{
  height: 100%;
  padding: 7px;
}

.mb_header-bottom{
  height: 55px;
  background-color: white;
}