/* JUMBOTRON */
  .mb_jumbotron{
    height: 500px;
  }

  .mb_returnal-banner{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    margin-top: 85px;
    color: white;
    padding-bottom: 50px;
  }

  .mb_jumbotron img{
    width: 250px;
  }

  .mb_jumbotron p{
    color: white;
  }

  /* .mb_btn_buy{
    border-radius: 20px;
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
    outline: 2px solid #cd3d0f;
  }

  .mb_btn_buy:hover{
    border-color: black;
    background-color: #cd3d0f;
  } */
  
/* /JUMBOTRON */

/* MAIN GAMES CARD */
  .mb_games_card img{
    border-radius: 20px;
    border: 4px solid white;
  }
/* MAIN GAMES CARD */

/* PS5 PRESENTATION */
  .mb_no-limits{
    color: #0065ca;
  }
/* PS5 PRESENTATION */

/* PS5 CONSOLE */
.mb_ps5-console .mb_btn{
  background-color: #0065ca;
  outline-color: #0065ca;
  border: 2px solid #0065ca;
}

.mb_ps5-console .mb_btn:hover{
  border-color: white;
}
/* PS5 CONSOLE */

/* PS5 ACCESSORIES */
  .mb_ps5_accessories .col{
    border-bottom: 2px solid white;
    filter: opacity(0.5);
  }

  .mb_ps5_accessories .col p{
    color: black;
  }

  .mb_ps5_accessories img{
    width: 60%;
  }

  .mb_ps5_accessories .col:hover{
    filter: opacity(1);
  }

  .mb_ps5_accessories .mb_active_accessories{
    border-color: #0060c8;
    filter: opacity(1);
  }
/* PS5 ACCESSORIES */

.mb_new-games{
  color: white;
  background-color: #1f1f1f;
}

.mb_plus{
  height: 300px;
  background-color: #bebcbb;
}

.mb_now{
  height: 300px;
  background-color: #161c3b;
}